.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: fit-content;
    width: 1200px;
    gap: 10px;
}

.left{
    background-color: red;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.right{
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto auto;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}