$clr-nav-background:#101827;
$clr-checkout:#FACC14;


$clr-background: #F3F4F6;
$clr-card-background:#FFFFFF;

$clr-success:#2DA956;
$clr-primary:#316CEC;

$fw-bold:700;

$fs-heading:1.7rem;
$fs-title:1.5rem;
$fs-normal:1rem;

